---
import { type Experience } from '../data/resume'
type Props = Experience
const { from, to, title, company, description } = Astro.props
---

<div>
  <div class='flex justify-between items-end'>
    <p class='text-sky-700'>
      <span class='font-medium text-neutral-900 mr-2'>{title}</span>
      <a href={company.link} target='_blank'>{company.title}</a>
    </p>
    <span>{from} - {to}</span>
  </div>
  <ul class='ml-10 list-disc font-light'>
    {description.map((d) => <li>{d}</li>)}
  </ul>
</div>
